@media screen and (max-width: 482px) {
    .container {
        padding: 0px 10px;
    }
    .mainTitle {
        max-width: 200px;
        margin: 5px auto;
        font-size: 40px;
        background: none;
    }
    .soundBox {
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .backButton {
        width: 35px;
        font-size: 18px;
        border-radius: 50%;
        position: fixed;
        top: 10px;
        left: 10px;
    }
    .game {
        padding: 5px;
    }
    .userLetterWrapper {
        width: 120px;
        margin: 0 auto;
        padding: 5px 0px;
    }
    .enterSection {
        height: 35px;
        width: 100px;
        text-align: center;
        border-radius: 5px;
    }
    .chosenLettersBox {
        width: 45%;
        height: 150px;
        font-size: 18px;
        letter-spacing: 5px;
        overflow: auto;
    }
    .hungManBox {
        width: 45%;
        height: 150px;
    }
    .letterBox {
        width: 20px;
        height: 20px;
        margin: 0px 3px;
    }
    .bottomLine {
        width: 100px;
        height: 3px;
        bottom: 5px;
        left: 5px;
    }
    .mainLine {
        width: 3px;
        height: 132px;
        bottom: 7px;
        left: 5px;
    }
    .upperLine {
        width: 100px;
        height: 3px;
        top: 7px;
        left: 5px;
    }
    .supportLine {
        width: 40px;
        height: 3px;
        top: 15px;
        left: 5px;
    }
    .ropeLine {
        width: 3px;
        height: 20px;
        top: 10px;
        left: 102px;
    }
    .headOfMan {
        width: 20px;
        height: 20px;
        top: 23px;
        left: 100px;
    }
    .bodyOfMan {
        width: 4px;
        height: 30px;
        top: 35px;
        left: 103px;
    }
    .leftHand {
        width: 10px;
        height: 3px;
        top: 47px;
        left: 105px;
    }
    .rightHand {
        width: 10px;
        height: 3px;
        top: 51px;
        left: 105px;
    }
    .leftLeg {
        width: 3px;
        height: 20px;
        top: 60px;
        left: 102px;
    }
    .rightLeg {
        width: 3px;
        height: 20px;
        top: 60px;
        left: 106px;
    }
}