.mainTitle {
    max-width: 700px;
    margin: 50px auto;
    text-align: center;
    color: red;
    text-shadow: 5px 5px 4px lightblue;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 70px;
    @include background(url("..//img/loop.jpg"), right, no-repeat, 100px 100px);
}